.offerspage{
    position: relative;
    width:1920px;
    height:1080px;
    top:89px;
  }
  
  .FlexContainer {
    display: flex;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: baseline;
    align-content: center;
    width: 100%;
    background-color: #2f1d58;
    height: 80vh;
    overflow: auto;
    flex-direction: row;
}

.FlexContainer div {
    width: 550px;
    height: 281px;
    margin: 11px;
    background-color: lightblue;
    
}
